@import "tailwindcss";

@theme inline {
  --color-native-blue: #424687;
  --color-native-brown: #3a3230;
  --color-native-beige: #d2c9b9;
  --color-native-white: #f6f5f2;
  --color-native-cream: #f5f5ed;
}

body {
  background: var(--color-native-white);
  color: var(--color-native-brown);
}
